*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}


.navigation { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    margin: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.menu {
    max-height: 100px;
    display: flex;
}

.menu li a {
    margin: 5px;
    padding: 5px 20px;
    color: black;
    font-weight: 500;
    opacity: 0.4;
}

.menu .active{
    opacity: 1;
}

.menu li a:hover {
    transition: all ease 0.3s;
    opacity: 1;
}
.logo{
    font-size: 1.8rem;
    color: #414141;
    text-transform: uppercase;
}

#image-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.slider{
    width: 1208px;
    height: 302px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 302px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1208px;
    height: 302px;
}


.navigation-manual{
    position: absolute;
    width: 1208px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgba(255, 255, 255, 0.44);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: rgb(255, 255, 255);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

.navigation-auto{
    position: absolute;
    width: 1208px;
    margin-top: 262px;
    display: flex;
    justify-content: center;
}

.navigation-auto div{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(255, 255, 255);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(255, 255, 255);
}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 15px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border: 1px solid rgba(0, 0, 0, .07);
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.card-img-top{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-body{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title{
    margin-bottom: .75rem;
}

.link-warp{
    text-decoration: none;
    color: black;
}

.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn-success{
    color: #fff;
    background-color: #fa591d;
    border-color: #fa591d;
}

.input-group{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-append{
    margin-left: -1px;
}